/* Estilos personalizados aquí */

/* Ajustes para el contenido */
section {
    margin-bottom: 40px;
}

/* Estilos para el formulario de inicio de sesión */
.login-form {
    max-width: 400px;
    margin: 0 auto;
}

/* Estilos para el footer */
footer {
    position: absolute; /* Fija el footer */
    bottom: 0; /* Lo sitúa al borde inferior */
    width: 100%; /* Ocupa todo el ancho */
    background-color: #343a40; /* Color de fondo */
    color: #fff; /* Color del texto */
    padding: 10px 0; /* Espaciado interno */
    text-align: center; /* Alineación del texto al centro */
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="correo"],
input[type="contrasena"],
button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
}

  